<nz-modal
    (nzOnCancel)="handleClose()"
    [(nzVisible)]="visibility"
    nzCentered
    nzTitle="Reset Password"
>
    <ng-container *nzModalContent>

        <ng-container>
            <nz-row [nzGutter]="16">

                <nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>New Password</nz-form-label>
                        <nz-form-control>
                            <app-password-input [(value)]="password"></app-password-input>
                        </nz-form-control>

                    </nz-form-item>
                </nz-col>

                <nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>Confirm Password</nz-form-label>
                        <nz-form-control>
                            <app-password-input [(value)]="confirmPassword"></app-password-input>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>

            </nz-row>
        </ng-container>

    </ng-container>

    <div *nzModalFooter>
        <button (click)="handleClose()" nz-button nzType="default">Cancel</button>
        <button
            (nzOnCancel)="emptyAction()"
            (nzOnConfirm)="handleUpdate()"
            [nzLoading]="isLoading"
            nz-button
            nz-popconfirm
            nzPopconfirmPlacement="top"
            nzPopconfirmTitle="Are you sure?"
            nzType="primary"
        >Submit
        </button>
    </div>
</nz-modal>
