<nz-card>
    <div nz-row>

        <div [nzLg]="24" [nzSpan]="24" [nzXs]="24" nz-col>
            <app-sale-cart-customer-search></app-sale-cart-customer-search>
        </div>

        <nz-divider></nz-divider>

        <div [nzLg]="24" [nzSpan]="24" [nzXs]="24" nz-col>
            <app-sale-cart-items></app-sale-cart-items>
        </div>

        <nz-divider></nz-divider>

        <div [nzLg]="24" [nzSpan]="24" [nzXs]="24" nz-col>
            <app-sale-cart-amount></app-sale-cart-amount>
        </div>

        <nz-divider></nz-divider>

        <div [nzLg]="24" [nzSpan]="24" [nzXs]="24" nz-col>
            <app-sale-cart-buttons></app-sale-cart-buttons>
        </div>
    </div>

</nz-card>
