<ng-container *ngIf="props && props.isEditMode === true; else descriptionViewTmpl">
    <input (input)="onInput($event)" [(ngModel)]="value" [class]="class" [name]="props.fieldName" nz-input type="text"/>
</ng-container>

<ng-template #descriptionViewTmpl>

    <span *ngIf="truncateProps?.canTruncateText === true &&
                 props?.initialValue.length > truncateProps?.truncateAfter!;
                 else fullTextImpl">

        <app-table-item-truncatable [content]="props?.initialValue" [limit]="15"></app-table-item-truncatable>


    </span>
    <ng-template #fullTextImpl>
        <span> {{props?.initialValue }}</span>
    </ng-template>
</ng-template>
