<ng-container *ngIf="props && props.isEditMode === true; else descriptionViewTmpl">
    <input (input)="onInput($event)" [(ngModel)]="value" [class]="class" [name]="props.fieldName" nz-input type="text"/>
</ng-container>

<ng-template #descriptionViewTmpl>

    <span *ngIf="truncateProps?.canTruncateText === true &&
                 props?.initialValue.length > truncateProps?.truncateAfter!;
                 else fullTextImpl">

        {{props?.initialValue | slice: 0:truncateProps?.truncateAfter}}


        <small
            (click)="showModal = true"
            [(nzPopoverVisible)]="showModal"
            [nzPopoverContent]="fullTextImpl"
            [nzPopoverTitle]="undefined"
            class="pointer light-blue hover-red"
            nz-popover
            nzPopoverTrigger="click"
        >...view</small>

    </span>
    <ng-template #fullTextImpl>
        <span> {{props?.initialValue }}</span>
    </ng-template>
</ng-template>
