<app-button
    [props]="{
    icon: props.icon,
    handler: showModal,
    size: props.size,
    title: props.title
    }"
></app-button>

<nz-modal (nzOnCancel)="isVisible = false"
          [(nzVisible)]="isVisible"
          [nzFooter]="' '"
          nzTitle="Expenses Category Setup"
>
    <ng-container *nzModalContent>

        <app-company-expense-category-form></app-company-expense-category-form>

        <app-company-expense-category-table class="mt2"></app-company-expense-category-table>
    </ng-container>
</nz-modal>
