### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
**/.vscode/

## Node
**/Node
**/node
**/node-modules

### Flutter
