<button
    type="button"
    data-dropdown-toggle="notification-dropdown"
    class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
>
    <span class="sr-only">View notifications</span>

    <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
        ></path>
    </svg>
</button>

<div
    class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:divide-gray-600 dark:bg-gray-700"
    id="notification-dropdown"
>
    <div
        class="block px-4 py-2 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
        Notifications
    </div>
    <div>
        <a
            href="#"
            class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-600"
        >
            <div class="flex-shrink-0">
                <img
                    class="rounded-full w-11 h-11"
                    src="/assets/images/avatar/avatar.png"
                    alt="Robert image"
                />
                <div
                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-purple-500 border border-white rounded-full dark:border-gray-700"
                >
                    <i-feather name="video" class="sm"></i-feather>
                </div>
            </div>
            <div class="w-full pl-3">
                <div
                    class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"
                >
                    <span class="font-semibold text-gray-900 dark:text-white"
                        >Robert Brown</span
                    >
                    posted a new video: Glassmorphism - learn how to implement
                    the new design trend.
                </div>
                <div
                    class="text-xs font-medium text-primary-700 dark:text-primary-400"
                >
                    3 hours ago
                </div>
            </div>
        </a>
    </div>
    <a
        href="#"
        class="block py-2 text-base font-normal text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:underline"
    >
        <div class="inline-flex items-center">
            <i-feather name="eye" class="sm"></i-feather>
            View all
        </div>
    </a>
</div>
