<button
    (click)="onUpload(args)"
    [disabled]="disableButtons || disableImport"
    [nzSize]="'large'"
    [nzTooltipTitle]="toolTips.import"
    nz-button
    nz-tooltip
    nzType="default"
>
    <span *ngIf="displayTest"> Import</span>
    <span nz-icon nzType="upload"></span>
</button>

<button
    [disabled]="disableButtons || disableExport"
    [nzDropdownMenu]="menu"
    [nzSize]="'large'"
    [nzTooltipTitle]="toolTips.export" nz-button nz-dropdown
    nz-tooltip
>
    <span *ngIf="displayTest"> Export</span>
    <span nz-icon nzType="download"></span>
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li (click)="onDownload(fileType.PDF)" nz-menu-item>
            <a>PDF</a>
        </li>
        <li (click)="onDownload(fileType.EXCEL)" nz-menu-item>
            <a>EXCEL</a>
        </li>
    </ul>
</nz-dropdown-menu>
