<nz-list nzBordered>

    <div class="cart-items">

        <ng-container *ngFor="let item of cart?.items; let i = index">

            <div class="pa3 flex justify-between item-wrapper " nz-row>

                <div class="item-product self-center" nz-col nzFlex="auto">
                    <app-table-item-truncatable
                        [content]="concatProductName(item.product)"
                        [limit]="limit"
                        [showToolTip]="showToolTip"></app-table-item-truncatable>
                </div>

                <div [nzFlex]="statsWidth" class="item-stats self-center flex justify-between" nz-col nz-row>

                    <app-amount-currency [amount]="item.subTotal" class="b mr2 self-center"></app-amount-currency>

                    <div class="tr self-center" nz-col nz-row>

                        <app-icon-button
                            [action]="decrement"
                            [args]="{cart, item}"
                            class="self-baseline"
                            icon="minus"
                        ></app-icon-button>

                        <input
                            (input)="onQuantityChange($event, item, cart)"
                            [(ngModel)]="item.quantity"
                            class="item-quantity"
                            min="1"
                            nz-input
                            type="number"
                        >

                        <app-icon-button
                            [action]="increment"
                            [args]="{cart, item}"
                            class="self-baseline"
                            icon="plus"
                        ></app-icon-button>

                    </div>

                </div>

            </div>

        </ng-container>
    </div>

</nz-list>
