<page-header [breadcrumb]="breadcrumb" title="Company Profile">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

</page-header>

<div [nzGutter]="[16, 24]" nz-row>
    <div nz-col nzSpan="24">
        <nz-collapse>
            <nz-collapse-panel
                *ngFor="let panel of panels"
                [nzActive]="panel.active"
                [nzDisabled]="panel.disabled"
                [nzHeader]="panel.name"
            >
                <div class="m-l-15px">
                    <ng-container [ngTemplateOutlet]="panel.tmpl"></ng-container>
                </div>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>

<ng-template #basicTmpl>
    <app-company-basic-form></app-company-basic-form>
</ng-template>

<ng-template #administratorTmpl>
    <app-company-administrator-form></app-company-administrator-form>
</ng-template>

<ng-template #regionTmpl>
    <app-company-region-form></app-company-region-form>
</ng-template>
