<app-button [props]="{handler: toggle, title: 'Add', icon: 'plus'}"></app-button>

<ng-container *ngIf="popup.display == ModalOrDrawer.DRAWER; else modalTmpl">
    <nz-drawer
        (nzOnClose)="toggle()"
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzFooter]="contentFooterBtnTmpl"
        [nzMaskClosable]="false"
        [nzTitle]="pageTitle"
        [nzVisible]="showDrawer"
        [nzWidth]="drawerSize"
    >
        <div *nzDrawerContent>
            <ng-container [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>

    </nz-drawer>
</ng-container>

<ng-template #modalTmpl>
    <nz-modal
        (nzOnCancel)="toggle()"
        (nzOnOk)="onCreate()"
        [(nzVisible)]="showModal"
        [nzMaskClosable]="false"
        [nzTitle]="pageTitle"
    >
        <div *nzModalContent [nzLg]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }" nz-col>
            <ng-container [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>
        <div *nzModalFooter>
            <ng-container [ngTemplateOutlet]="contentFooterBtnTmpl"></ng-container>
        </div>

    </nz-modal>
</ng-template>

<ng-template #contentFormTmpl>
    <form (submit)="onCreate()"
          [formGroup]="form"
          disableAutocomplete
          nz-form
          nzLayout="vertical"
    >
        <div [nzSpan]="24" nz-col>

            <nz-form-item>
                <nz-form-label>Product Categories</nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="getNzFormControlValidStatus('categories', form)"
                    nzErrorTip="">
                    <app-search-model-dropdown
                        [formProps]="{controlName: 'categories', formGroup: form}"
                        [option]="'title'"
                        [props]="{placeholder: 'Search category', mode: 'multiple'}"
                        [searchUrl]="PRODUCT_ROUTES.PRODUCT_CATEGORY_SEARCH"
                    ></app-search-model-dropdown>

                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-label>Business Name</nz-form-label>
                <nz-form-control
                    [nzValidateStatus]="getNzFormControlValidStatus('supplierBusinessName', form)"
                    nzErrorTip="">
                    <input
                        formControlName="supplierBusinessName"
                        name="supplierBusinessName"
                        nz-input
                        placeholder="Enter first name"
                        type="text"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>First Name</nz-form-label>
                <nz-form-control [nzValidateStatus]="getNzFormControlValidStatus('supplierFirstName', form)"
                                 nzErrorTip="">
                    <input
                        formControlName="supplierFirstName"
                        name="supplierFirstName"
                        nz-input
                        placeholder="Enter first name"
                        type="text"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Last Name</nz-form-label>
                <nz-form-control [nzValidateStatus]="getNzFormControlValidStatus('supplierLastName', form)"
                                 nzErrorTip="">
                    <input
                        formControlName="supplierLastName"
                        name="supplierLastName"
                        nz-input
                        placeholder="Enter last name"
                        type="search"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Email</nz-form-label>
                <nz-form-control [nzValidateStatus]="getNzFormControlValidStatus('supplierEmailAddress', form)"
                                 nzErrorTip="">
                    <input
                        formControlName="supplierEmailAddress"
                        name="supplierEmailAddress"
                        nz-input
                        placeholder="Enter email"
                        type="email"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Phone</nz-form-label>
                <nz-form-control [nzValidateStatus]="getNzFormControlValidStatus('supplierPhone', form)"
                                 nzErrorTip="">
                    <input
                        formControlName="supplierPhone"
                        name="supplierPhone"
                        nz-input
                        placeholder="Enter phone number"
                        type="text"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Address</nz-form-label>
                <nz-form-control [nzValidateStatus]="getNzFormControlValidStatus('supplierOfficeAddress', form)"
                                 nzErrorTip="">
                    <textarea
                        formControlName="supplierOfficeAddress"
                        name="supplierOfficeAddress"
                        nz-input
                        placeholder="Enter address "
                    ></textarea>
                </nz-form-control>
            </nz-form-item>

        </div>

    </form>
</ng-template>

<ng-template #contentFooterBtnTmpl>
    <div class="fr">
        <button (click)="toggle(ModalOrDrawer.ANY)" nz-button nzType="default">Cancel</button>
        <button (click)="onCreate()" [nzLoading]="isLoading" nz-button nzType="primary">Submit</button>
    </div>

</ng-template>
