<app-button [props]="{handler: isDrawer ?  onOpenDrawer: onOpenModal, title: 'Add', icon: 'plus'}"></app-button>

<ng-container *ngIf="isDrawer; else modalTmpl">
    <nz-drawer
        (nzOnClose)="onCloseDrawer()"
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzFooter]="footerTpl"
        [nzMaskClosable]="false"
        [nzVisible]="showDrawer"
        [nzWidth]="720"
        nzTitle="Add New Employee"
    >
        <div *nzDrawerContent>
            <ng-container [ngTemplateOutletContext]="{form: categoryForm}" [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>

        <ng-template #footerTpl>
            <div class="fr">
                <button (click)="onCloseDrawer()" nz-button style="margin-right: 8px;">Cancel</button>
                <button (click)="onCloseDrawer()" nz-button nzType="primary">Submit</button>
            </div>

        </ng-template>
    </nz-drawer>
</ng-container>

<ng-template #modalTmpl>
    <nz-modal
        (nzOnCancel)="onCloseModal()"
        (nzOnOk)="onCreate()"
        [(nzVisible)]="showModal"
        [nzMaskClosable]="false"
        nzTitle="Add New Employee"
    >
        <div *nzModalContent [nzLg]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }" nz-col>
            <ng-container [ngTemplateOutletContext]="{form: categoryForm}" [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>
        <div *nzModalFooter>
            <ng-container [ngTemplateOutlet]="contentFooterBtnTmpl"></ng-container>
        </div>

    </nz-modal>
</ng-template>

<ng-template #contentFormTmpl let-form="form">

    <form (submit)="onCreate()"
          autocomplete="off"
          nz-form
          nzLayout="vertical"
    >
        <div [nzSpan]="24" nz-col>

            <nz-collapse nzAccordion>

                <nz-collapse-panel nzHeader="Personal Basic Details">
                    <nz-form-item>
                        <nz-form-label>First Name</nz-form-label>
                        <nz-form-control nzErrorTip="First name is required">
                            <input
                                name="firstName"
                                nz-input
                                placeholder="Enter first name"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Last Name</nz-form-label>
                        <nz-form-control nzErrorTip="Last name is required">
                            <input
                                name="lastName"
                                nz-input
                                placeholder="Enter last name"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Email</nz-form-label>
                        <nz-form-control nzErrorTip="Email is required">
                            <input
                                name="email"
                                nz-input
                                placeholder="Enter email"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Phone</nz-form-label>
                        <nz-form-control nzErrorTip="Phone is required">
                            <input
                                name="phone"
                                nz-input
                                placeholder="Enter phone number"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Date of birth</nz-form-label>
                        <nz-form-control nzErrorTip="Dob is required">
                            <app-date-picker></app-date-picker>
                        </nz-form-control>
                    </nz-form-item>


                    <nz-form-item>
                        <nz-form-label>Address</nz-form-label>
                        <nz-form-control>
                        <textarea name="comment"
                                  nz-input
                                  placeholder="Enter address "
                        ></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </nz-collapse-panel>

                <nz-collapse-panel nzHeader="Emergency Contact Details">
                    <nz-form-item>
                        <nz-form-label>Nok. Full Name</nz-form-label>
                        <nz-form-control nzErrorTip="First name is required">
                            <input
                                name="firstName"
                                nz-input
                                placeholder="Enter first name"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Nok. Phone</nz-form-label>
                        <nz-form-control nzErrorTip="Phone is required">
                            <input
                                name="phone"
                                nz-input
                                placeholder="Enter phone number"
                                type="text"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Nok. Address</nz-form-label>
                        <nz-form-control>
                        <textarea name="nokAddress"
                                  nz-input
                                  placeholder="Enter address "
                        ></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Relationship with Nok.</nz-form-label>
                        <nz-form-control>
                            <nz-select></nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </nz-collapse-panel>

                <nz-collapse-panel nzHeader="Account Details">

                    <nz-form-item>
                        <nz-form-label>Account Role</nz-form-label>
                        <nz-form-control
                            [nzSpan]="24"
                            nzErrorTip=""
                            nzValidateStatus="success"
                        >
                            <div nz-row nzGutter="4">
                                <div nz-col nzFlex="auto">
                                    <app-company-role-search-dropdown></app-company-role-search-dropdown>
                                </div>
                                <div nz-col nz-tooltip nzFlex="30px" nzTooltipPlacement="top" nzTooltipTitle="Update roles">
                                    <app-company-role-add-btn
                                        [popup]="{display: 'modal'}"
                                        class="mt3"
                                    ></app-company-role-add-btn>
                                </div>

                            </div>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Account Expiration Date</nz-form-label>
                        <nz-form-control nzErrorTip="Date is required">
                            <app-date-picker></app-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Account Username</nz-form-label>
                        <nz-form-control
                            [nzSpan]="24"
                            nzErrorTip=""
                            nzValidateStatus="success"
                        >
                            <input nz-input placeholder="Enter username"/>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>Account Password</nz-form-label>
                        <nz-form-control
                            [nzSpan]="24"
                            nzErrorTip=""
                            nzValidateStatus="success"
                        >
                            <input nz-input placeholder="Enter password" type="password"/>
                        </nz-form-control>
                    </nz-form-item>
                </nz-collapse-panel>

            </nz-collapse>

        </div>

    </form>
</ng-template>

<ng-template #contentFooterBtnTmpl>
    <button (click)="onCloseModal()" nz-button nzType="default">Cancel</button>
    <button (click)="onCreate()" [nzLoading]="isLoading" nz-button nzType="primary">Submit</button>
</ng-template>
