<page-header [breadcrumb]="breadcrumb" title="Stock Setting">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

</page-header>

<nz-card>
    <div class="wd-100p">
        <article nz-typography>
            <p nz-typography>
                Efficiently manage your stock and inventory with customizable Stock Settings.
            </p>
        </article>
        <nz-divider></nz-divider>

        <app-setting-form [settings$]="settings"></app-setting-form>
    </div>
</nz-card>
