<nz-list nzGrid>
    <div [nzGutter]="16" nz-row>
        <div *ngFor="let product of products"
             [nzLg]="8"
             [nzMd]="8"
             [nzSm]="12"
             [nzXXl]="8"
             [nzXl]="8"
             [nzXs]="24"
             nz-col
        >
            <nz-list-item>
                <div
                    class="grid-wrapper tc-ns hover-bg-washed-green"
                >

                    <div class="grid flex-wrap justify-between">
                        <div class="flex flex-row justify-between w-100 pl2 pr2">
                            <span>{{getProductTitle(product)}}</span>
                        </div>

                        <div class="mt2 flex flex-row w-100 pl2 pr2">
                            <label>
                                QTY:
                                <span [ngStyle]="{color: isLowQuantity(product)? '#af2d2d': '#9eebcf'}" class="b">
                                    {{product?.basic?.quantity}}
                                    <small>  {{product?.basic?.unitOfMeasure?.unit}}</small>
                                </span>
                            </label>

                            <label *ngIf="product?.price?.discount" class="ml2">
                                Discount:
                                <span> {{product?.price?.discount}}% </span>
                            </label>

                        </div>
                    </div>

                    <div class="db mt2 mb1">
                        <app-amount-currency [amount]="product?.price?.sellingPrice"
                                             [class]="'mt2 f4'"></app-amount-currency>
                    </div>

                    <button (click)="onAddProductToCart(product)"
                            class="mt1 mb2"
                            nz-button nzType="default"
                    >
                        <span class="mr1" nz-icon nzTheme="outline" nzType="shopping-cart"></span>
                        Add to cart
                    </button>

                </div>
            </nz-list-item>

        </div>
    </div>
</nz-list>
