<nz-form-item>
    <nz-form-label nzFor="language" nzRequired>Language</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is invalid!">
        <input id="language" nz-input/>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label nzFor="currency" nzRequired>Currency</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input id="currency" nz-input/>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label nzFor="timeZone" nzRequired>TimeZone</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input id="timeZone" nz-input/>
    </nz-form-control>
</nz-form-item>
