<ng-container *ngIf="hasFormControl; else noFormControl">
    <nz-form-item [formGroup]="form">
        <nz-form-control [nzErrorTip]="getErrorTip()">
            <nz-input-group [nzPrefixIcon]="props?.icon??'lock'"
                            [nzSize]="props?.size?? 'large'"
                            [nzSuffix]="prefixTemplateUser"
                            style="width: 100%"
            >
                <input [formControlName]="this.props?.formControlName ?? 'password'"
                       [placeholder]=" getPlaceHolder()"
                       [type]="passwordType"
                       disableAutocomplete
                       nz-input
                />
            </nz-input-group>
            <ng-template #prefixTemplateUser>
            <span
                (click)="onToggleIcon()"
                [nzType]="displayIcon"
                class="pointer"
                nz-icon
            ></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</ng-container>


<ng-template #noFormControl>
    <nz-form-item>
        <nz-form-control nzSpan="24">
            <nz-input-group
                (input)="onValueChange($event)"
                [ngModel]="value"
                [nzPrefixIcon]="props?.icon??'lock'"
                [nzSize]="props?.size?? 'large'"
                [nzSuffix]="prefixTemplateUser"
                style="width: 100%"
            >
                <input
                    [placeholder]=""
                    [type]="passwordType"
                    disableAutocomplete
                    nz-input
                />
            </nz-input-group>
            <ng-template #prefixTemplateUser>
            <span
                (click)="onToggleIcon()"
                [nzType]="displayIcon"
                class="pointer"
                nz-icon
            ></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</ng-template>
