<nz-form-item>
    <nz-form-label nzFor='switchToggle'
               [nzNoColon]='true' class=''
               *ngIf='props.showLabel === true'
>Status
    <span
        nz-tooltip
        nzTooltipTitle='click on switch to toggle the value'
        class='m-l-3px'
        nz-icon
        nzType='info-circle'
        nzTheme='outline'
    ></span>

</nz-form-label>
    <nz-form-control nzErrorTip='Please select' [nzValidateStatus]="hasError?'error': 'success' ">
    <nz-switch
        id='switchToggle'
        name='switchToggle'
        [ngModel]="value"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        (ngModelChange)="onSwitchToggled($event)"
    ></nz-switch>
    <ng-template #checkedTemplate>
        <span [innerText]='props.trueText'></span>
        <span nz-icon nzType="check"></span>
    </ng-template>
    <ng-template #unCheckedTemplate>
        <span [innerText]='props.falseText'></span>
        <span nz-icon nzType="close"></span>
    </ng-template>
</nz-form-control>
</nz-form-item>