<app-fieldset [legend]="showLegend ? 'Price Section' : '' ">

    <div class="pl2 pr2" nz-row nzGutter="4">

        <div [nzLg]="8" [nzSpan]="24" [nzXs]="24" nz-col>

            <nz-form-item>
                <nz-form-label>
                    <span *ngIf="isGroupExpenses || stockPrice.expensesAmount" class="mr1">
                        <app-hint
                            [class]="'mr1 f7'"
                            [content]="'This is the expenses amount incurred per item on the stock list'"></app-hint>
                        Expenses +
                    </span>
                    <span>Cost Price</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="">

                    <nz-input-number-group>
                        <div class="flex flex-row">
                            <div *ngIf="isGroupExpenses || stockPrice.expensesAmount" class="mr1" nz-col nzFlex="70px">
                                <input [(ngModel)]="stockPrice.expensesAmount" nz-input placeholder="Expenses" readonly>
                            </div>

                            <div nz-col nzFlex="auto">
                                <input (input)="reCalculateSellingPrice('cost')"
                                       [(ngModel)]="stockPrice.costPrice"
                                       class="wd-100p"
                                       min="0"
                                       nz-input
                                       placeholder="Enter unit cost"
                                       type="number"
                                >
                            </div>
                        </div>

                    </nz-input-number-group>

                </nz-form-control>

            </nz-form-item>
        </div>

        <div [nzLg]="8" [nzSpan]="24" [nzXs]="24" nz-col>
            <nz-form-item>
                <nz-form-label>Mark Up Percent (%)</nz-form-label>
                <nz-form-control nzErrorTip="">
                    <input (input)="reCalculateSellingPrice('markup')"
                           [(ngModel)]="stockPrice.markupPercent"
                           class="wd-100p"
                           min="0"
                           nz-input
                           placeholder="Enter margin"
                           type="number"
                    >
                </nz-form-control>

            </nz-form-item>
        </div>

        <div [nzLg]="8" [nzSpan]="24" [nzXs]="24" nz-col>
            <nz-form-item>
                <nz-form-label>Selling Price</nz-form-label>
                <nz-form-control nzErrorTip="">
                    <input
                        [(ngModel)]="stockPrice.sellingPrice"
                        class="wd-100p"
                        min="0"
                        nz-input
                        placeholder="Enter Selling price"
                        type="number"
                    >
                </nz-form-control>

            </nz-form-item>
        </div>

    </div>

</app-fieldset>
