<ng-container *ngIf="settings as settings; else loading">

    <form (ngSubmit)="submit()" [formGroup]="formGroup" nz-form nzLayout="horizontal">

        <ng-container *ngFor="let setting of settings">

            <nz-form-item>
                <nz-form-label [nzSpan]="8" nzLabelAlign="left">
                    <ng-container *ngIf="setting.settingHint">
                        <span [nzPopoverContent]="setting.settingHint" [nzPopoverTitle]="'Hint:'" class="m-r-10px"
                              nz-icon
                              nz-popover
                              nzTheme="outline" nzType="info-circle"></span>
                    </ng-container>

                    {{setting.settingTitle}}


                </nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <div [ngSwitch]="setting.settingField">

                        <div *ngSwitchCase="input">
                            <ng-container [ngTemplateOutletContext]="{ setting: setting }"
                                          [ngTemplateOutlet]="inputTmpl"></ng-container>
                        </div>

                        <div *ngSwitchCase="select">
                            <ng-container
                                [ngTemplateOutletContext]="{ setting: setting }"
                                [ngTemplateOutlet]="selectTmpl"></ng-container>
                        </div>

                        <div *ngSwitchCase="textarea">
                            <ng-container
                                [ngTemplateOutletContext]="{ setting: setting }"
                                [ngTemplateOutlet]="textareaTmpl"></ng-container>
                        </div>

                        <div *ngSwitchCase="radio">
                            <ng-container [ngTemplateOutletContext]="{ setting: setting }"
                                          [ngTemplateOutlet]="radioTmpl"></ng-container>
                        </div>

                        <div *ngSwitchCase="date">
                            <ng-container [ngTemplateOutletContext]="{ setting: setting }"
                                          [ngTemplateOutlet]="dateTmpl"></ng-container>
                        </div>

                        <div *ngSwitchCase="toggle">
                            <ng-container
                                [ngTemplateOutletContext]="{ setting: setting }"
                                [ngTemplateOutlet]="toggleTmpl"
                            >
                            </ng-container>
                        </div>
                    </div>
                </nz-form-control>

            </nz-form-item>

        </ng-container>

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" type="submit">Submit</button>
            </nz-form-control>
        </nz-form-item>

        <ng-template #inputTmpl let-setting="setting">
            <input [formControlName]="setting.settingKey" nz-input nzSize="default">
        </ng-template>

        <ng-template #textareaTmpl let-setting="setting">
            <textarea [formControlName]="setting.settingKey" nz-input rows="4"></textarea>
        </ng-template>

        <ng-template #radioTmpl let-setting="setting">
            <nz-radio-group [formControlName]="setting.settingKey">
                <label nz-radio nzValue="A">A</label>
                <label nz-radio nzValue="B">B</label>
            </nz-radio-group>
        </ng-template>

        <ng-template #dateTmpl let-setting="setting">
            <nz-date-picker class="wd-100p"></nz-date-picker>
        </ng-template>

        <ng-template #toggleTmpl let-setting="setting">
            <nz-switch
                [formControlName]="setting.settingKey"
                [nzCheckedChildren]="checkedTemplate"
                [nzControl]="setting.settingValue === 'true'"
                [nzUnCheckedChildren]="unCheckedTemplate"
            ></nz-switch>
            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
        </ng-template>

        <ng-template #selectTmpl let-setting="setting">
            <nz-select [formControlName]="setting.settingKey" class="wd-100p">
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            </nz-select>
        </ng-template>
    </form>
</ng-container>

<ng-template #loading>
    <app-loading-card></app-loading-card>
</ng-template>
