<page-header [breadcrumb]="breadcrumb" title="Expenses Setting">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

</page-header>

<nz-card>
    <div class="wd-100p">
        <article nz-typography>
            <h5 nz-typography>Expenses </h5>
            <p nz-typography>
                Effortlessly set your expense settings rules. <br>
                It helps to control how expenses are recorded and provides better visibility into your
                expenses.
            </p>
        </article>
        <nz-divider></nz-divider>

        <app-setting-form [settings$]="settings"></app-setting-form>
    </div>
</nz-card>
