<page-header [breadcrumb]="breadcrumb" title="Product Setting">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

</page-header>

<nz-card>
    <div class="wd-100p">
        <article nz-typography>
            <h5 nz-typography>Product <small class="m-l-10px"></small></h5>

            <p nz-typography>
                Product Settings is a page that allows the admin user to manage and customize settings related to
                product management, such as product categories, product bundle, inventory, and more
            </p>
        </article>
        <nz-divider></nz-divider>

        <app-setting-form [settings$]="settings"></app-setting-form>
    </div>
</nz-card>
