<ng-container *ngIf="hasFormGroup(); else modelTmpl" [formGroup]="formProps!.formGroup">

    <nz-form-control
        [nzValidateStatus]="getFormControlValidityStatus(
        formProps!.controlName, formProps!.formGroup)"
    >
        <nz-select
            [formControlName]="formProps!.controlName"
            [nzLoading]="isLoading"
            nzAllowClear
            nzPlaceHolder="Select .."
            nzShowSearch
        >
            <ng-container *ngFor="let data of measures">
                <nz-option
                    *ngIf="data.isActiveStatus"
                    [nzLabel]="getLabel(data)"
                    [nzValue]="data"
                ></nz-option>
            </ng-container>
        </nz-select>
    </nz-form-control>

</ng-container>

<ng-template #modelTmpl>
    <nz-select (ngModelChange)="onValueChange($event)" [(ngModel)]="value" [nzLoading]="isLoading" nzAllowClear nzPlaceHolder="Select .."
               nzShowSearch>
        <ng-container *ngFor="let data of measures">
            <nz-option *ngIf="data.isActiveStatus" [nzLabel]="getLabel(data)" [nzValue]="data"></nz-option>
        </ng-container>
    </nz-select>
</ng-template>

