<ng-container *ngIf="canUseFormGroup(); else modelTmpl" [formGroup]="form!.formGroup">

    <nz-select (ngModelChange)="onValueChange($event)"
               [class]="class"
               [formControl]="selectedControl" [nzLoading]="isLoading" nzAllowClear
               nzMode="tags"
               nzPlaceHolder="Select .." nzShowSearch>
        <ng-container *ngIf="dataList | async as list">
            <nz-option *ngFor="let data of list" [nzCustomContent]="true" [nzLabel]="data.title!" [nzValue]="data">
                <label>{{data.title | lowercase}} ({{data.percent}}%) </label>
            </nz-option>
        </ng-container>
    </nz-select>
</ng-container>

<ng-template #modelTmpl>
    <nz-select (ngModelChange)="onValueChange($event)" [(ngModel)]="value" [class]="class" [nzLoading]="isLoading" nzAllowClear
               nzMode="tags"
               nzPlaceHolder="Select .." nzShowSearch>
        <ng-container *ngIf="dataList | async as list">
            <nz-option *ngFor="let data of list" [nzCustomContent]="true" [nzLabel]="data.title!" [nzValue]="data">
                <label>{{data.title | lowercase}} ({{data.percent}}%) </label>
            </nz-option>
        </ng-container>
    </nz-select>

</ng-template>
