<!--<ng-container *ngIf="props; else noPropTmpl">-->

<nz-form-control nzSpan="24">
    <nz-select

        (ngModelChange)="onValueChange($event)"
        (nzOnSearch)="onSearch($event)"
        [ngModel]="defaultValues"
        [nzMode]="props.mode!"
        [nzPlaceHolder]="props.placeholder!"
        nzAllowClear
        nzServerSearch
        nzShowSearch
    >
        <ng-container *ngFor="let item of value">
            <nz-option *ngIf="!isLoading" [nzLabel]="item[label]" [nzValue]="item"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzCustomContent nzDisabled>
            <span class="loading-icon" nz-icon nzType="loading"></span>
            Loading Data...
        </nz-option>
    </nz-select>

</nz-form-control>

<!--</ng-container>-->

<!--<ng-template #noPropTmpl>-->
<!--    <nz-select></nz-select>-->
<!--</ng-template>-->

