<nz-form-item>
    <nz-form-label nzFor="profileName" nzRequired>Profile Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is invalid!">
        <input id="profileName" nz-input/>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input id="phoneNumber" nz-input/>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label nzFor="profileEmail" nzRequired>Profile Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input id="profileEmail" nz-input/>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label nzFor="officePosition" nzRequired>Office Position</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is invalid!">
        <input id="officePosition" nz-input/>
    </nz-form-control>
</nz-form-item>
