<page-header [action]="action" [breadcrumb]="breadcrumb" [content]="content" title="Manage Expenses">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

    <ng-template #action>
        <app-expand-collapse-button [(open)]="isOpenHeader"></app-expand-collapse-button>
    </ng-template>

    <ng-template #content>

        <form *ngIf="isOpenHeader" autocomplete="off" class="ph-main" nz-form nzLayout="vertical">

            <div [nzGutter]="[12, 12]" nz-row>

                <div nz-col nzSpan="24">

                    <div [nzGutter]="[8, 16]" nz-row>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <app-company-expense-category-dropdown
                                [(select)]="searchPayload.category"
                                [props]="{showLabel: true}"
                            ></app-company-expense-category-dropdown>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" class="re-user" nz-col>
                            <label>Registered By</label>
                            <app-company-user-search
                                [props]="{showLabel: false}"
                            ></app-company-user-search>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <label>Approved By</label>
                            <app-company-user-search
                                [props]="{showLabel: false}"
                            ></app-company-user-search>
                        </div>
                    </div>

                </div>

                <div nz-col nzSpan="24">
                    <div nz-row nzGutter="10">

                        <div [nzLg]="12" [nzSpan]="12" [nzXs]="24" nz-col>
                            <app-amount-range [(value)]="searchPayload.amountRange"></app-amount-range>
                        </div>

                        <div [nzLg]="12" [nzSpan]="12" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Date Range</nz-form-label>
                                <app-range-date-picker [(select)]="searchPayload.dateRangeParam"
                                ></app-range-date-picker>
                            </nz-form-item>
                        </div>

                    </div>
                </div>
            </div>

            <div nz-col nzSpan="24">

                <div nz-row nzJustify="space-between">
                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" nz-col>
                        <app-search-reset-button
                            [props]="{onSearchAction: onSearch,isLoadingSearchResult: isLoading,onResetAction: onResetSearchForm}"
                        ></app-search-reset-button>
                    </div>

                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="text-align-end" nz-col>
                        <nz-space nzSize="small">
                            <app-company-expense-add-btn *nzSpaceItem [popup]="{display: ModalOrDrawer.DRAWER}"></app-company-expense-add-btn>
                            <app-export-upload-button *nzSpaceItem [props]="{}"></app-export-upload-button>
                        </nz-space>
                    </div>
                </div>
            </div>

        </form>

    </ng-template>

</page-header>

<nz-card>
    <app-table
        (pageIndexChange)="onPageIndexChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        [(pageIndex)]="pageRequest.pageNumber"
        [(pageSize)]="pageRequest.pageSize"
        [colHeadings]="tableCols"
        [dataList]="tableData"
        [props]="{showPagination: true, isLoading: isLoadingTable}"
        [rowTemplates]="[  amountTmpl, categoryTmpl,
             recordedByTmpl, recordedDateTmpl, approvalStatusTmpl,
              approvedByTmpl, approvedDateTmpl,
             commentTmpl, uploadsTmpl, createdDateTmpl, actionTmpl
        ]"
    ></app-table>
</nz-card>

<ng-template #amountTmpl let-item="item">
    <app-table-item [content]="amountFormat"></app-table-item>
    <ng-template #amountFormat>
        <span>{{item.amount | currency: '': '' }}</span>
    </ng-template>
</ng-template>
<ng-template #categoryTmpl let-item="item">
    <app-table-item [content]="item.category?.title"></app-table-item>
</ng-template>

<ng-template #recordedByTmpl>
    <app-table-item></app-table-item>
</ng-template>

<ng-template #recordedDateTmpl let-item="item">
    <app-table-item [content]="recordedDateFormat"></app-table-item>
    <ng-template #recordedDateFormat>
        <span> {{item.recordDate | date}} </span>
    </ng-template>
</ng-template>

<ng-template #createdDateTmpl let-item="item">
    <app-table-item [content]="createdDateFormat"></app-table-item>
    <ng-template #createdDateFormat>
        <span> {{item.createdAt | date}} </span>
    </ng-template>
</ng-template>

<ng-template #approvalStatusTmpl>
    <app-table-item></app-table-item>
</ng-template>

<ng-template #approvedByTmpl>
    <app-table-item></app-table-item>
</ng-template>

<ng-template #approvedDateTmpl>
    <app-table-item></app-table-item>
</ng-template>

<ng-template #commentTmpl let-item="item">
    <app-table-item-truncatable [content]="item.comment"></app-table-item-truncatable>
</ng-template>

<ng-template #uploadsTmpl let-item="item">
    <app-table-item></app-table-item>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-table-item></app-table-item>
</ng-template>
