<body class="bg-gray-50 dark:bg-gray-800">
    <app-layout-navbar></app-layout-navbar>

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900"></div>

    <app-layout-aside></app-layout-aside>

    <div
        class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90"
        id="sidebarBackdrop"
    ></div>

    <div
        id="main-content"
        class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900"
    >
        <main class="m-5">
            <app-layout-breadcrumb></app-layout-breadcrumb>
            <app-layout-main></app-layout-main>
        </main>
    </div>
</body>
