<page-header [action]="action" [breadcrumb]="breadcrumb" [content]="content" title="Manage Stock ">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

    <ng-template #action>
        <app-expand-collapse-button [(open)]="isOpenHeader"></app-expand-collapse-button>
    </ng-template>

    <ng-template #content>

        <form *ngIf="isOpenHeader" autocomplete="off" class="ph-main" nz-form>

            <div [nzGutter]="[12, 24]" nz-row>

                <div nz-col nzSpan="24">
                    <div [nzGutter]="[12, 16]" nz-row>
                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <app-stock-code-search></app-stock-code-search>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <app-company-user-search></app-company-user-search>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Date Range</nz-form-label>
                                <app-range-date-picker class="wd-100p"></app-range-date-picker>
                            </nz-form-item>
                        </div>
                    </div>

                </div>

            </div>

            <div nz-col nzSpan="24">

                <div nz-row nzJustify="space-between">
                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" nz-col>
                        <app-search-reset-button
                            [disableButtons]="!isStockEnabled"
                            [props]="{
                                onSearchAction: onSearch,
                                isLoadingSearchResult: isLoading,
                                onResetAction: onReset,
                                onCancelAction: onCancel
                                }"
                            [toolTips]="{search: !isStockEnabled?disableWarning: '', reset: !isStockEnabled?disableWarning: ''}"
                        ></app-search-reset-button>

                    </div>


                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="text-align-end" nz-col>
                        <nz-space nzSize="small">
                            <app-button *nzSpaceItem [disabled]="!isStockEnabled"
                                        [props]="{title: 'Add', icon: 'plus', handler: onCreate}"></app-button>

                            <app-export-upload-button
                                *nzSpaceItem
                                [disableButtons]="true"
                                [toolTips]="{import: message.COMING_SOON, export: message.COMING_SOON}"
                            ></app-export-upload-button>

                        </nz-space>
                    </div>
                </div>
            </div>

        </form>

    </ng-template>

</page-header>

<nz-card>
    <app-table [colHeadings]="tableCols"></app-table>
</nz-card>

<app-stock-manage-add #stockManageAddComponent></app-stock-manage-add>
