<nz-form-label *ngIf="props.showLabel">Expenses Category</nz-form-label>

<ng-container *ngIf="formProps && formProps.formGroup && formProps.controlName; else modelTmpl">
    <fieldset [formGroup]="formProps.formGroup!">
        <nz-form-control nzSpan="24">
            <nz-select
                [formControlName]="formProps.controlName!"
                nzAllowClear nzPlaceHolder="Select a category" nzShowSearch>
                <nz-option *ngFor="let item of list" [nzLabel]="item.title!" [nzValue]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </fieldset>

</ng-container>

<ng-template #modelTmpl>
    <nz-form-control nzSpan="24">
        <nz-select
            (ngModelChange)="onCategorySelected($event)"
            [ngModel]="select"
            nzAllowClear nzPlaceHolder="Select a category" nzShowSearch
        >
            <nz-option *ngFor="let item of list" [nzLabel]="item.title!" [nzValue]="item"></nz-option>
        </nz-select>
    </nz-form-control>

</ng-template>
