<form (ngSubmit)="submit()" [formGroup]="form" nz-form role="form">
    <nz-tabset [nzAnimated]="false" class="tabs">
        <nz-tab [nzTitle]="'Login'">
            <nz-alert *ngIf="error" [nzDescription]="errorListTmpl" [nzMessage]="error" [nzShowIcon]="true" [nzType]="'error'" class="mb-lg">
                <ng-template #errorListTmpl>
                    <ng-container *ngIf="errorList">
                        <span *ngFor="let error of errorList">{{error}}</span>
                    </ng-container>
                </ng-template>

            </nz-alert>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter your username">
                    <nz-input-group nzPrefixIcon="user" nzSize="large">
                        <input formControlName="userName" nz-input placeholder="Enter your username"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <app-password-input [form]="form" [props]="{formControlName: 'password'}"></app-password-input>
            
        </nz-tab>
    </nz-tabset>

    <nz-form-item>
        <nz-col [nzSpan]="12">
            <label formControlName="remember" nz-checkbox>{{ 'remember me' | i18n }}</label>
        </nz-col>
    </nz-form-item>

    <nz-form-item>
        <button [nzLoading]="loading" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
            {{ 'Login' }}
        </button>
    </nz-form-item>
</form>
