.cart-amount-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
}

.cart-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grand-total {
    font-weight: 900;
    font-size: 19px;
}

/* Media query for medium screens (e.g., tablets) */
@media screen and (min-width: 40em) and (max-width: 52em) {
    .grand-total {
        font-weight: 900;
        font-size: 17px;
    }
}

/* Media query for small screens (e.g., phones) */
@media screen and (max-width: 640px) {
    .grand-total {
        font-weight: 900;
        font-size: 17px;
    }
}
