<form (ngSubmit)="onCreate()" [formGroup]="form" [nzLayout]="'inline'" nz-form>

    <div [nzGutter]="[8, 8]" nz-row nzAlign="bottom">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter title">
                    <input formControlName="title" nz-input placeholder="Enter title"/>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
            <app-textarea-limit
                [props]="{
                        showLabel: false, formGroup: form, fromControlName: 'description' , labelText: 'Description'}"
            ></app-textarea-limit>

            <nz-form-item nz-col nzSpan="24">
                <nz-form-control>
                    <button [disabled]="!form.valid" [nzLoading]="isSaving" nz-button nzType="primary">
                        Save <span nz-icon nzTheme="outline" nzType="save"></span>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
