<nav
    class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <app-nav-mobile-hamburger-button></app-nav-mobile-hamburger-button>
                <app-nav-logo></app-nav-logo>
                <app-nav-input-search></app-nav-input-search>
            </div>

            <div class="flex items-center">
                <app-nav-mobile-search-button></app-nav-mobile-search-button>

                <app-nav-notification-dropdown></app-nav-notification-dropdown>

                <app-nav-apps-dropdown></app-nav-apps-dropdown>

                <app-nav-theme-toggle-button></app-nav-theme-toggle-button>

                <app-nav-user-menu-button></app-nav-user-menu-button>
            </div>
        </div>
    </div>
</nav>
