<page-header [action]="action" [breadcrumb]="breadcrumb" [content]="content" title="View Stock Count">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

    <ng-template #action>
        <app-expand-collapse-button [(open)]="isOpenHeader"></app-expand-collapse-button>
    </ng-template>

    <ng-template #content>

        <form *ngIf="isOpenHeader" autocomplete="off" class="ph-main" nz-form>

            <div [nzGutter]="[12, 24]" nz-row>
                <div nz-col nzSpan="24">
                    <app-stock-product-location-form></app-stock-product-location-form>
                </div>
            </div>
            <div nz-col nzSpan="24">

                <div nz-row nzJustify="space-between">
                    <div [nzLg]="24" [nzSpan]="24" [nzXs]="24" nz-col>
                        <app-search-reset-button
                            [props]="{
                                onSearchAction: onSearchStock,
                                isLoadingSearchResult: isLoading,
                                onResetAction: onResetSearchForm,
                                onCancelAction: onCancelHandler
                                }"
                        ></app-search-reset-button>
                    </div>

                </div>
            </div>
        </form>

    </ng-template>

</page-header>

<nz-card>
    <app-table [colHeadings]="tableCols"></app-table>
</nz-card>
