<app-table
    (pageIndexChange)="onPageIndexChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    [(pageIndex)]="pageRequest.pageNumber"
    [(pageSize)]="pageRequest.pageSize"
    [colHeadings]="tableCols"
    [dataList]="tableData"
    [props]="{showPagination: true, isLoading: isLoadingTable, tableLayout: 'auto', tableSize: 'default'}"
    [rowTemplates]="[ fullNameTmpl, emailTmpl, phoneTmpl, roleTmpl, statusTmpl,expDateTmpl, actionTmpl
        ]"
></app-table>

<ng-template #fullNameTmpl let-item="item">
    <app-table-item [content]="nameConcat"></app-table-item>
    <ng-template #nameConcat>
        <span>{{ item.name}}</span>
    </ng-template>
</ng-template>

<ng-template #emailTmpl let-item="item">
    <app-table-item [content]="item.username"></app-table-item>
</ng-template>

<ng-template #phoneTmpl let-item="item">
    <app-table-item [content]="item.phone"></app-table-item>
</ng-template>

<ng-template #roleTmpl let-item="item">
    <app-table-item [content]="roleTitleTmpl"></app-table-item>
    <ng-template #roleTitleTmpl>
        <span>
            [
                <span *ngFor="let role of item.roles; let i = index;">
                    {{ role.name }}
                    <span *ngIf="item.roles.length > 1 && i +1 !== item.roles.length">{{','}}</span>
                </span>
            ]
        </span>
    </ng-template>
</ng-template>

<ng-template #statusTmpl let-item="item">
    <app-record-status-badge [status]="item.isActiveStatus"></app-record-status-badge>
</ng-template>

<ng-template #expDateTmpl let-item="item">
    <app-table-item content="{{item.expiryDate | date}}"></app-table-item>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <div class="fl">
        <app-icon-button
            [icon]="'like'"
            nz-tooltip
            nzTooltipTitle="Toggle account status"></app-icon-button>

        <app-icon-button
            [action]="emptyAction"
            [args]="item"
            [icon]="'lock'"
            nz-tooltip
            nzTooltipTitle="Reset Account Password"
        ></app-icon-button>

    </div>
</ng-template>
