<div class="mx-4 my-6 col-span-full xl:mb-2">
    <h3 class="text-3xl mb-1">Settings</h3>
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol
            class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2"
        >
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white"
                >
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg
                        width="11"
                        height="12"
                        viewBox="0 0 11 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.1175 0.639999L2.4375 12H0.8695L8.5335 0.639999H10.1175Z"
                            fill="#7F8184"
                        />
                    </svg>

                    <a
                        href="#"
                        class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white"
                        >Users</a
                    >
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg
                        width="11"
                        height="12"
                        viewBox="0 0 11 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.1175 0.639999L2.4375 12H0.8695L8.5335 0.639999H10.1175Z"
                            fill="#7F8184"
                        />
                    </svg>

                    <a
                        href="#"
                        class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white"
                        >Users</a
                    >
                </div>
            </li>
        </ol>
    </nav>
</div>
