<app-table [colHeadings]="cols"
           [dataList]="data"
           [props]="{tableSize: 'small'}"
           [rowTemplates]="[titleTmpl, descTmpl, statusTmpl, actionTmpl]"
></app-table>


<ng-template #titleTmpl let-item="item">
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'title')"
        [props]="{fieldName: 'title', initialValue: item.title, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.title"
        class="w-min"
    ></app-table-item-editable>
</ng-template>

<ng-template #descTmpl let-item="item">
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'description')"
        [props]="{fieldName: 'description', initialValue: item.description, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.description"
    ></app-table-item-editable>
</ng-template>


<ng-template #statusTmpl let-item="item">
    <app-record-status-badge [status]="item.isActiveStatus"></app-record-status-badge>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-update-delete-action
        [buttons]="[TableButtonEnum.EDIT, TableButtonEnum.TOGGLE_STATUS]"
        [item]="item"
        [props]="{
            saveEditHandler: onSaveEdit,
            cancelEditHandler: onCancelEdit,
            toggleEditHandler: onToggleEdit,
            cancelToggleStatusHandler: onCancelDisable,
            confirmToggleStatusHandler: onConfirmToggleStatus,
            editMap: editMap}"
    ></app-update-delete-action>
</ng-template>
