<page-header [action]="action" [breadcrumb]="breadcrumb" [content]="content" title="Manage Employees">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

    <ng-template #action>
        <app-expand-collapse-button [(open)]="isOpenHeader"></app-expand-collapse-button>
    </ng-template>

    <ng-template #content>
        <form *ngIf="isOpenHeader" autocomplete="off" class="ph-main" nz-form nzLayout="vertical">

            <div [nzGutter]="[8, 8]" nz-row>

                <div nz-col nzSpan="24">

                    <div nz-row nzGutter="10">

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Full Name</nz-form-label>
                                <input [(ngModel)]="searchPayload.employeeFullName" name="employeeFullName" nz-input
                                       placeholder="Enter full name"
                                       type="text"/>
                            </nz-form-item>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Phone number</nz-form-label>
                                <input [(ngModel)]="searchPayload.employeePhoneNumber" name="phoneNumber" nz-input
                                       placeholder="Enter phone number"
                                       type="text"/>
                            </nz-form-item>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Account Expiration</nz-form-label>
                                <app-date-picker [(select)]="searchPayload.expirationDate!"
                                                 [mode]="'month'"></app-date-picker>
                            </nz-form-item>
                        </div>
                    </div>

                </div>

                <div nz-col nzSpan="24">
                    <div nz-row nzGutter="10">
                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Email</nz-form-label>
                                <input [(ngModel)]="searchPayload.employeeEmail" name="email" nz-input
                                       placeholder="Enter email address" type="text"/>
                            </nz-form-item>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Date Joined</nz-form-label>
                                <app-range-date-picker
                                    [(select)]="searchPayload.dateRangeParam!"></app-range-date-picker>
                            </nz-form-item>
                        </div>

                        <div [nzLg]="8" [nzSpan]="8" [nzXs]="24" nz-col>
                            <nz-form-item>
                                <nz-form-label>Role</nz-form-label>

                                <app-company-role-search-dropdown
                                    [(value)]="searchPayload.roles"
                                    [mode]="'multiple'"
                                ></app-company-role-search-dropdown>

                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-col nzSpan="24">
                <div nz-row nzJustify="space-between">
                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" nz-col>
                        <app-search-reset-button
                            [props]="{
                                        onSearchAction: onSearch,
                                        isLoadingSearchResult: isLoading,
                                        onResetAction: onReset,
                                        onCancelAction: onCancel
                                        }"
                        ></app-search-reset-button>
                    </div>

                    <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="text-align-end" nz-col>
                        <nz-space nzSize="small">
                            <app-company-people-employee-add-btn
                                #employeeAddBtnComponent
                                *nzSpaceItem
                                [employee]="employee" [popup]="{display: ModalOrDrawer.DRAWER}"
                            ></app-company-people-employee-add-btn>

                            <app-export-upload-button *nzSpaceItem [props]="{}"></app-export-upload-button>
                        </nz-space>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</page-header>

<nz-card>
    <app-table
        (pageIndexChange)="onPageIndexChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        [(pageIndex)]="pageRequest.pageNumber"
        [(pageSize)]="pageRequest.pageSize"
        [colHeadings]="tableCols"
        [dataList]="tableData"
        [props]="{showPagination: true, isLoading: isLoadingTable, tableLayout: 'auto', tableSize: 'default'}"
        [rowTemplates]="[fullNameTmpl, emailTmpl, phoneTmpl,
            dateRegisteredTmpl, dateOfExpirationTmpl, roleTmpl,
            statusTmpl, actionTmpl
        ]"
    ></app-table>
</nz-card>

<ng-template #fullNameTmpl let-item="item">
    <app-table-item [content]="nameConcat"></app-table-item>
    <ng-template #nameConcat>
        <span>{{ item.personalDetail?.employeeFirstName ?? '' + ' ' + item.personalDetail?.employeeLastName ?? ''}}</span>
    </ng-template>
</ng-template>

<ng-template #emailTmpl let-item="item">
    <app-table-item [content]="item.personalDetail.employeeEmail"></app-table-item>
</ng-template>

<ng-template #phoneTmpl let-item="item">
    <app-table-item [content]="item.personalDetail.employeePhone"></app-table-item>
</ng-template>

<ng-template #dateRegisteredTmpl let-item="item">
    <app-table-item [content]="dateTmpl"></app-table-item>
    <ng-template #dateTmpl>
        <span>{{item.createdAt | date}}</span>
    </ng-template>
</ng-template>

<ng-template #dateOfExpirationTmpl let-item="item">
    <app-table-item [content]="dateExprTmpl"></app-table-item>
    <ng-template #dateExprTmpl>
        <span>{{item.accountDetail.expirationDate | date}}</span>
    </ng-template>
</ng-template>

<ng-template #roleTmpl let-item="item">
    <app-user-roles [roles]="item.accountDetail.roles"></app-user-roles>
</ng-template>

<ng-template #statusTmpl let-item="item">
    <app-record-status-badge [status]="item.isActiveStatus"></app-record-status-badge>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-update-delete-action
        [buttons]="[TableButtonEnum.EDIT, TableButtonEnum.TOGGLE_STATUS]"
        [item]="item"
        [props]="{
            saveEditHandler: emptyAction,
            cancelEditHandler: emptyAction,
            toggleEditHandler: handleEdit,
            confirmToggleStatusHandler: emptyAction,
        }"
    ></app-update-delete-action>
</ng-template>
