<nz-modal
    (nzOnCancel)="handleClose()"
    [(nzVisible)]="visibility"
    nzCentered
    nzTitle="Update Account Expiry Date"
>
    <ng-container *nzModalContent>
        <ng-container>
            <nz-row [nzGutter]="16">

                <nz-col [nzSpan]="24">
                    <nz-form-item class="items-center">
                        <nz-form-label>Current Expiry Date</nz-form-label>
                        <span class="b">{{account?.expiryDate | date}}</span>
                    </nz-form-item>
                </nz-col>

                <nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>New Expiry Date</nz-form-label>
                        <app-date-picker [(select)]="expiryDate"></app-date-picker>
                    </nz-form-item>
                </nz-col>

            </nz-row>
        </ng-container>

    </ng-container>

    <div *nzModalFooter>
        <button (click)="handleClose()" nz-button nzType="default">Cancel</button>
        <button
            (nzOnCancel)="emptyAction()"
            (nzOnConfirm)="handleUpdate()"
            [nzLoading]="isLoading"
            nz-button
            nz-popconfirm
            nzPopconfirmPlacement="top"
            nzPopconfirmTitle="Are you sure?"
            nzType="primary"
        >Submit
        </button>
    </div>
</nz-modal>
