<nz-modal
    (nzOnCancel)="handleClose()"
    [(nzVisible)]="visibility"
    nzCentered
    nzTitle="Update Role"
>
    <ng-container *nzModalContent>

        <ng-container>
            <nz-row [nzGutter]="16">

                <nz-col [nzSpan]="24">
                    <nz-form-item class="items-center">
                        <nz-form-label>Current Role</nz-form-label>
                        <app-user-roles [roles]="account?.roles ?? []"></app-user-roles>
                    </nz-form-item>
                </nz-col>

                <nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>Select Roles</nz-form-label>
                        <app-company-role-search-dropdown
                            [(value)]="roles" [props]="{}"
                            class="w-100"
                            mode="multiple"
                        ></app-company-role-search-dropdown>
                    </nz-form-item>
                </nz-col>
            </nz-row>
        </ng-container>

    </ng-container>

    <div *nzModalFooter>
        <button (click)="handleClose()" nz-button nzType="default">Cancel</button>
        <button
            (nzOnCancel)="emptyAction()"
            (nzOnConfirm)="handleUpdate()"
            [nzLoading]="isLoading"
            nz-button
            nz-popconfirm
            nzPopconfirmPlacement="top"
            nzPopconfirmTitle="Are you sure?"
            nzType="primary"
        >Submit
        </button>
    </div>
</nz-modal>
