<aside
    id="sidebar"
    class="fixed top-0 left-0 z-20 border flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
    aria-label="Sidebar"
>
    <div
        class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r-0 border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
            <div class="mb-4 my-1 col-span-full xl:mb-2">
                <h1
                    class="text-xs ml-6 font-semibold text-gray-900 sm:text-2xl dark:text-white"
                >
                    Main Menu
                </h1>
            </div>

            <div
                class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
            >
                <ul class="pb-2 space-y-2">
                    <app-aside-mobile-search-input></app-aside-mobile-search-input>

                    <ng-container *ngFor="let menu of menus">
                        <app-aside-menu-item
                            [menu]="menu"
                        ></app-aside-menu-item>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</aside>
