<page-header></page-header>

<nz-card>
    <div nz-row nzJustify="space-between">
        <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="mb4" nz-col>
            <app-company-role-add-btn
                [props]="{title: 'Add Role', icon: 'plus', showTable: false, showForm: true}"
            ></app-company-role-add-btn>
        </div>
    </div>
    <app-table
        [colHeadings]="tableCols"
        [dataList]="list"
        [props]="{tableLayout: 'auto'}"
        [rowTemplates]="[titleTmpl, descTmpl, dateTmpl, permTmpl, isActiveStatusTmpl, actionTmpl]"
    ></app-table>
</nz-card>

<ng-template #titleTmpl let-item="item">
    <label>{{item.name | uppercase }}</label>
</ng-template>

<ng-template #descTmpl let-item="item">
    <label>{{item.description}}</label>
</ng-template>

<ng-template #permTmpl let-item="item">
    <label>{{item.permissions.length}}</label>
</ng-template>

<ng-template #dateTmpl let-item="item">
    <label>{{item.createdAt | date}}</label>
</ng-template>

<ng-template #isActiveStatusTmpl let-item="item">
    <app-record-status-badge [status]="item.isActiveStatus"></app-record-status-badge>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-update-delete-action
        [buttons]="[TableButtonEnum.EDIT, TableButtonEnum.TOGGLE_STATUS]"
        [item]="item"
        [props]="{ saveEditHandler: emptyAction, cancelEditHandler: emptyAction,
               toggleEditHandler: onToggleEdit, confirmToggleStatusHandler: onToggleRoleStatus
        }"
    ></app-update-delete-action>
</ng-template>

<nz-drawer
    (nzOnClose)="onToggleDrawerOrModal()"
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzFooter]="contentFooterBtnTmpl"
    [nzMaskClosable]="false"
    [nzVisible]="showDrawer"
    [nzWidth]="720"
    nzTitle="Update Role"
>
    <div *nzDrawerContent>
        <ng-container [ngTemplateOutlet]="contentFormTmpl"></ng-container>
    </div>

</nz-drawer>

<ng-template #contentFormTmpl>
    <app-company-role-form
        #roleFormComponent
        (formActionEmitter)="onHandleEmit($event)"
        [popup]="{display: ModalOrDrawer.DRAWER}"
        [role]="selectedEditPayload"></app-company-role-form>
</ng-template>

<ng-template #contentFooterBtnTmpl>
    <app-footer-button
        [action]="{submitAction: onSave, cancelAction: onToggleDrawerOrModal }"
        [props]="{cancelArgs: ModalOrDrawer.ANY}"
    ></app-footer-button>
</ng-template>
