<page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>
</page-header>

<nz-card>
    <div nz-row nzJustify="space-between">
        <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="mb4" nz-col>
            <app-company-role-add-btn
                [props]="{title: 'Add Role', icon: 'plus', showTable: false, showForm: true}"
                [role]="selectedRole"
            ></app-company-role-add-btn>
        </div>
    </div>

    <app-company-role-table (roleEmitter)="handleRoleEdit($event)"></app-company-role-table>

</nz-card>
