<page-header [action]="headerActionTmpl" [breadcrumb]="breadcrumb" [content]="content" title="Product Categories">
    <ng-template #breadcrumb>
        <app-breadcrumbs [crumbs]="crumbs"></app-breadcrumbs>
    </ng-template>

    <ng-template #headerActionTmpl>
        <app-expand-collapse-button [(open)]="isExpanded"></app-expand-collapse-button>
    </ng-template>

    <ng-template #content>
        <form *ngIf="isExpanded" autocomplete="off" nz-form>
            <div nz-row>
                <div class="ph-main m-t-1em" nz-col nzSpan="24">
                    <input name="productCategoryName"
                           nz-input
                           placeholder="Enter category name" type="text"/>
                </div>

                <div [nzLg]="24" [nzXs]="24" class="ph-main m-t-2em m-t-sm-2em m-b-2em" nz-col nzSpan="24">
                    <div nz-row nzJustify="space-between">
                        <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" nz-col>
                            <app-search-reset-button
                                [props]="{
                                onSearchAction: onSearchCategory,
                                isLoadingSearchResult: isLoadingSearch,
                                onResetSearchPayload: onResetSearch,
                                onCancelAction: onCancelSearch
                                }"
                            ></app-search-reset-button>
                        </div>

                        <div [nzLg]="12" [nzSpan]="12" [nzXs]="10" class="text-align-end" nz-col>
                            <nz-space nzSize="small">
                                <app-button *nzSpaceItem [props]="{handler: onOpenModal, title: 'Add', icon: 'plus'}"
                                ></app-button>
                                <app-export-upload-button *nzSpaceItem [props]="{}"></app-export-upload-button>
                            </nz-space>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

</page-header>

<nz-card>
    <app-table [colHeadings]="cols"
               [dataList]="categories"
               [rowTemplates]="[nameTmpl, descriptionTmpl, actionTmpl]"
    ></app-table>
</nz-card>

<nz-modal
    (nzOnCancel)="onCloseModal()"
    (nzOnOk)="onAddCategory()"
    [(nzVisible)]="showModal"
    [nzMaskClosable]="false"
    nzTitle="Add New Category"
>

    <div *nzModalContent [nzLg]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }" nz-col>
        <form (submit)="onAddCategory()"
              [formGroup]="categoryForm"
              autocomplete="off"
              nz-form
              nzLayout="vertical"
        >

            <div [nzSpan]="24" nz-col>

                <nz-form-item>
                    <nz-form-label>Title</nz-form-label>
                    <nz-form-control nzErrorTip="Title is required">
                        <input
                            formControlName="title"
                            nz-input
                            placeholder="Enter Title"
                            type="text"
                        />
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-label>Description</nz-form-label>
                    <nz-form-control>
                                <textarea formControlName="description"
                                          nz-input
                                          placeholder="Enter Description"
                                ></textarea>
                    </nz-form-control>
                </nz-form-item>

            </div>

        </form>
    </div>

    <div *nzModalFooter>
        <button (click)="onCloseModal()" nz-button nzType="default">Cancel</button>
        <button (click)="onAddCategory()" [nzLoading]="isLoading" nz-button nzType="primary">Submit</button>
    </div>

</nz-modal>
<!--title-->
<ng-template #nameTmpl let-item="item">

    <ng-container *ngIf="editObj[item.id]?.edit === true; else nameViewTmpl">
        <input [(ngModel)]="editObj[item.id].data.title" class="w-min" name="title" nz-input type="text"/>
    </ng-container>

    <ng-template #nameViewTmpl>
        <label>{{item.title}}</label>
    </ng-template>
</ng-template>
<!--description-->
<ng-template #descriptionTmpl let-item="item">
    <ng-container *ngIf="editObj[item.id]?.edit === true; else descriptionViewTmpl">
        <input [(ngModel)]="editObj[item.id].data.description" name="description" nz-input type="text"/>
    </ng-container>

    <ng-template #descriptionViewTmpl>
        <label>{{item.description}}</label>
    </ng-template>
</ng-template>
<!--action-->
<ng-template #actionTmpl let-item="item">
    <ng-container *ngIf="editObj[item.id]?.edit === true; else actionViewTmpl">
        <nz-space [nzSize]="10">

            <button (click)="onSaveEdit(item)"
                    *nzSpaceItem
                    [nzLoading]="editObj[item.id].updating === true"
                    nz-button
                    nz-tooltip
                    nzTooltipTitle="Save changes"
                    nzType="text"
            >
                <span nz-icon nzTheme="outline" nzType="check"></span>
            </button>

            <button
                (click)="onCancelEdit(item)"
                *nzSpaceItem
                nz-button
                nz-tooltip
                nzTooltipTitle="Cancel changes" nzType="text"
            >

                <span nz-icon nzTheme="outline" nzType="close"></span>
            </button>

        </nz-space>
    </ng-container>

    <ng-template #actionViewTmpl>
        <nz-space [nzSize]="10">
            <button (click)="onToggleEdit(item)"
                    *nzSpaceItem nz-button
                    nz-tooltip
                    nzTooltipTitle="Edit"
                    nzType="text"
            >
                <span nz-icon nzType="edit"></span>
            </button>

            <button (nzOnCancel)="onCancelDelete()"
                    (nzOnConfirm)="onConfirmDelete(item.id)"
                    *nzSpaceItem
                    [nzLoading]="editObj[item.id] && editObj[item.id].deleting === true"
                    nz-button
                    nz-popconfirm
                    nz-tooltip
                    nzPopconfirmTitle="Are you sure, delete?"
                    nzTooltipTitle="Delete"
                    nzType="text"
            >
                <span class="danger" nz-icon nzType="delete"></span>
            </button>

        </nz-space>

    </ng-template>
</ng-template>
