<nz-form-item>
    <nz-form-label class="self-center">Choose Payment Method</nz-form-label>
    <nz-form-control>
        <ng-container *ngIf="paymentOptions$ | async as paymentOptions">
            <ng-container *ngIf="paymentOptions.length > 0; else noRecordTmpl">
                <nz-radio-group [(ngModel)]="paymentOption" class="pa3" nzButtonStyle="outline" nzSize="large">
                    <ng-container *ngFor="let option of paymentOptions">

                        <label (click)="onSelectPaymentMethod(option)"
                               *ngIf="option.isActiveStatus"
                               [ngStyle]="{ 'border-color' : isSelected(option) ? '#9eebcf' : ''  }"
                               [nzValue]="option"
                               nz-radio
                        >
                            <span *ngIf="showIcon && isSelected(option)" class="mr2" nz-icon nzTheme="outline"
                                  nzType="check-circle"></span>
                            <span [innerHTML]="option.title" class="b"></span>

                        </label>

                    </ng-container>
                </nz-radio-group>
            </ng-container>
        </ng-container>
    </nz-form-control>
</nz-form-item>

<ng-template #noRecordTmpl>
    <app-nothing-found text="no payment options"></app-nothing-found>
</ng-template>
