<app-button [props]="{
    handler: toggle,
    title: 'Add',
    icon: 'plus',
    size: buttonProps.size
  }"
></app-button>

<ng-container *ngIf="popup.display == ModalOrDrawer.DRAWER; else modalTmpl">
    <nz-drawer
        (nzOnClose)="toggle()"
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzFooter]="contentFooterBtnTmpl"
        [nzMaskClosable]="false"
        [nzTitle]="pageTitle"
        [nzVisible]="showDrawer"
        [nzWidth]="screenWidth"

    >
        <div *nzDrawerContent>
            <ng-container [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>

    </nz-drawer>
</ng-container>

<ng-template #modalTmpl>
    <nz-modal
        (nzOnCancel)="toggle()"
        (nzOnOk)="onCreate()"
        [(nzVisible)]="showModal"
        [nzMaskClosable]="false"
        [nzTitle]="pageTitle"
    >
        <div *nzModalContent [nzLg]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }" nz-col>
            <ng-container [ngTemplateOutlet]="contentFormTmpl"></ng-container>
        </div>
        <div *nzModalFooter>
            <ng-container [ngTemplateOutlet]="contentFooterBtnTmpl"></ng-container>
        </div>

    </nz-modal>
</ng-template>

<ng-template #contentFormTmpl>

    <form (submit)="onCreate()"
          [formGroup]="form"
          autocomplete="off"
          disableAutocomplete
          nz-form
          nzLayout="vertical"

    >
        <div [nzSpan]="24" nz-col>

            <nz-form-item>
                <nz-form-label>First Name</nz-form-label>
                <nz-form-control nzErrorTip="">
                    <input
                        formControlName="customerFirstName"
                        name="peopleCustomerFirstNames"
                        nz-input
                        placeholder="Enter first name"
                        type="search"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Last Name</nz-form-label>
                <nz-form-control nzErrorTip="Last name is required">
                    <input
                        formControlName="customerLastName"
                        name="peopleCustomerLastsNames"
                        nz-input
                        placeholder="Enter last name"
                        type="search"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Email</nz-form-label>
                <nz-form-control nzErrorTip="Email is required">
                    <input
                        formControlName="customerEmail"
                        name="peopleCustomerLastNames"
                        nz-input
                        placeholder="Enter email"
                        type="email"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Phone</nz-form-label>
                <nz-form-control nzErrorTip="Phone is required">
                    <input
                        formControlName="customerPhone"
                        name="peopleCustomerPhoneNumbers"
                        nz-input
                        placeholder="Enter phone number"
                        type="search"
                    />
                </nz-form-control>
            </nz-form-item>

            <app-customer-tag [formProps]="{formGroup: form, controlName: 'customerTag'}"></app-customer-tag>

            <nz-form-item>
                <nz-form-label>Address</nz-form-label>
                <nz-form-control>
                    <textarea autocomplete="disable" formControlName="customerAddress" name="peopleCustomersAddress"
                              nz-input
                              placeholder="Enter address"
                    ></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</ng-template>

<ng-template #contentFooterBtnTmpl>
    <div class="fr">
        <button (click)="toggle(ModalOrDrawer.ANY)" nz-button nzType="default">Cancel</button>
        <button (click)="onCreate()" [nzLoading]="isLoading" nz-button nzType="primary">Submit</button>
    </div>
</ng-template>
