<ng-container *ngIf="props.showForm">
    <form (ngSubmit)="onCreate()" [formGroup]="form" [nzLayout]="'inline'" nz-form>

        <div [nzGutter]="[8, 8]" nz-row nzAlign="bottom">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter title">
                        <input formControlName="title" nz-input placeholder="Enter title"/>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter percent">
                        <nz-input-number [nzMin]="1" [nzStep]="1" class="wd-100p" formControlName="percent"
                                         nzPlaceHolder="Enter percent"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div nz-col nzSpan="24">
                <app-textarea-limit
                    [props]="{
                        fromControlName: 'description',
                        formGroup: form,
                        labelText: 'Description'
                   }"
                ></app-textarea-limit>

                <nz-form-item nz-col nzSpan="6">
                    <nz-form-control>
                        <button [disabled]="!form.valid" [nzLoading]="isSaving" nz-button nzType="primary">
                            Save <span nz-icon nzTheme="outline" nzType="save"></span>
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="props.showTable">
    <div class="mbt-2">
        <app-table [colHeadings]="cols"
                   [dataList]="data"
                   [props]="{tableSize: 'small'}"
                   [rowTemplates]="[titleTmpl, percentTmpl, descTmpl, isActiveStatusTmpl, actionTmpl]"
        ></app-table>
    </div>
</ng-container>

<ng-template #titleTmpl let-item="item">
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'title')"
        [props]="{fieldName: 'title', initialValue: item.title, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.title"
    ></app-table-item-editable>
</ng-template>

<ng-template #percentTmpl let-item="item">
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'percent')"
        [props]="{fieldName: 'percent', initialValue: item.percent, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.percent"
    ></app-table-item-editable>
</ng-template>

<ng-template #descTmpl let-item="item">
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'description')"
        [props]="{fieldName: 'description', initialValue: item.description, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.description"
    ></app-table-item-editable>
</ng-template>

<ng-template #isActiveStatusTmpl let-item="item">
    <app-record-status-badge [status]="item.isActiveStatus"></app-record-status-badge>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-update-delete-action
        [buttons]="[TableButtonEnum.EDIT, TableButtonEnum.TOGGLE_STATUS]"
        [item]="item"
        [props]="{
            saveEditHandler: onSaveEdit,
            cancelEditHandler: onCancelEdit,
            toggleEditHandler: onToggleEdit,
            cancelToggleStatusHandler: onCancelToggle,
            confirmToggleStatusHandler: onConfirmToggleStatus,
            editMap: editMap}"
    ></app-update-delete-action>

</ng-template>
