<nz-list nzBordered>

    <ng-container *ngFor="let product of products; let i = index">

        <nz-list-item (dblclick)="onAddProductToCart(product)" class="hover-bg-washed-green">

            <div class="item-product hover-bg-washed-green">
                <span class="" nz-typography>{{concatProductName(product)}}</span>
            </div>

            <div class="item-stats overflow-x-scroll-m ">

                <app-amount-currency [amount]="product?.price?.sellingPrice" class="b"></app-amount-currency>

                <label class="mv0 mh4">
                    <label>
                        QTY:
                        <span [ngStyle]="{color: isLowQuantity(product)? '#af2d2d': '#189b69'}" class="b">
                            {{product?.basic?.quantity}} <small>  {{product?.basic?.unitOfMeasure?.unit}}</small>
                        </span>
                    </label>
                    <label *ngIf="product?.price?.discount" class="ml2">
                        <code>
                            - {{product?.price?.discount}}%
                        </code>
                    </label>
                </label>

            </div>

            <button (click)="onAddProductToCart(product)" class="mt1 cart-button" nz-button nzType="default">
                <span class="mr1" nz-icon nzTheme="outline" nzType="shopping-cart"></span>
                Add to cart
            </button>

        </nz-list-item>

    </ng-container>

</nz-list>
