<nz-list nzBordered>

    <ng-container *ngFor="let product of products; let i = index">
        <nz-list-item class="">

            <div class="item-product hover-bg-washed-green">
                <span nz-typography>{{concatProductName(product)}}</span>
            </div>
            
            <div class="item-stats tl ">

                <app-amount-currency [amount]="product?.price?.sellingPrice" class="b"></app-amount-currency>

                <label class="mv0 mh4">
                    QTY:
                    <span [ngStyle]="{color: isLowQuantity(product)? '#af2d2d': '#189b69'}" class="b">
                         {{product?.basic?.quantity}}
                     </span>
                </label>

                <button (click)="onAddProductToCart(product)" class="mt1" nz-button nzType="default">
                    <span class="mr1" nz-icon nzTheme="outline" nzType="shopping-cart"></span>
                    Add to cart
                </button>
            </div>

        </nz-list-item>

    </ng-container>

</nz-list>
