<app-button [props]="{icon: 'edit', handler: showModal, size: 'default'}"></app-button>

<nz-modal (nzOnCancel)="isVisible = false"
          [(nzVisible)]="isVisible"
          [nzFooter]="' '"
          nzTitle="Unit of Measurements"
>
    <ng-container *nzModalContent>

        <form (ngSubmit)="onCreate()" [formGroup]="form" [nzLayout]="'inline'" nz-form>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter title">
                    <input formControlName="title" nz-input placeholder="Enter Title"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter unit">
                    <input formControlName="unit" nz-input placeholder="Enter Unit code" type="text"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button [disabled]="!form.valid" [nzLoading]="isSaving" nz-button nzType="primary">
                        <span nz-icon nzTheme="outline" nzType="save"></span>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>

        <div class="wd-100p m-t-1em">
            <app-table [colHeadings]="cols"
                       [dataList]="data"
                       [props]="{tableSize: 'small'}"
                       [rowTemplates]="[titleTmpl, unitTmpl, actionTmpl]"
            ></app-table>
        </div>

    </ng-container>
</nz-modal>

<ng-template #titleTmpl let-item="item">
    <!--    <span>{{item.title}}</span>-->
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'title')"
        [props]="{fieldName: 'title', initialValue: item.title, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.title"
    ></app-table-item-editable>
</ng-template>

<ng-template #unitTmpl let-item="item">
    <!--    <span>{{item.unit}}</span>-->
    <app-table-item-editable
        (valueChange)="onCacheValueChange($event, item, 'unit')"
        [props]="{fieldName: 'unit', initialValue: item.unit, isEditMode: canEditItem(item)}"
        [value]="editMap[item.id] && editMap[item.id].data.unit"
    ></app-table-item-editable>
</ng-template>

<ng-template #actionTmpl let-item="item">
    <app-update-delete-action
        [item]="item"
        [props]="{
            saveEditHandler: onSaveEdit,
            cancelEditHandler: onCancelEdit,
            toggleEditHandler: onToggleEdit,
            cancelDeleteHandler: onCancelDelete,
            confirmDeleteHandler: onConfirmDelete,
            editMap: editMap}"
    ></app-update-delete-action>
</ng-template>
